### Recommendations Systems Analysis

In [ ]:
# Importing Libraries
import pandas as pd

#### Loading Movies Dataset

In [ ]:
# Uploading the dataset
from google.colab import files
uploaded = files.upload()

Saving movies.csv to movies (1).csv

In [ ]:
# Reading the Dataset
movies = pd.read_csv('movies.csv')

In [ ]:
# top rows
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
# Df info
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

#### Loading ratings data analysis and dataset

In [ ]:
# Uploading the dataset
from google.colab import files
uploaded = files.upload()

Saving ratings.csv to ratings (1).csv

In [ ]:
# Reading the Dataset
ratings = pd.read_csv('ratings.csv')

In [ ]:
# top rows
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
# Dataset info
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

#### Merging movies and ratings

In [ ]:
# merging datasets
ratings = pd.merge(movies, ratings).drop(['genres', 'timestamp'], axis = 1)

In [ ]:
# first few rows
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [ ]:
# Info dataframe
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  100836 non-null  int64
 1   title    100836 non-null  object
 2   userId   100836 non-null  int64
 3   rating   100836 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.8+ MB

#### New Dataframe of UserID by movies

In [ ]:
# creating UserID by movies dataframe
ratings = ratings.pivot_table(index = ['userId'], columns = ['title'], values = 'rating')

In [ ]:
# Ratings first few rows
ratings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# dataframe dimension
ratings.shape

(610, 9719)

In [ ]:
# Dropping columns with few ratings
ratings = ratings.dropna(thresh = 10, axis = 1)

In [ ]:
# Dataframe dimension 
ratings.shape

(610, 2269)

In [ ]:
# Head of the first few rows 
ratings.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Dropping columns with few ratings
ratings = ratings.dropna(thresh = 20, axis = 1)

In [ ]:
# Dataframe dimension 
ratings.shape

(610, 1297)

In [ ]:
# Head of the first few rows 
ratings.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Item based Collaborative Filtering

In [ ]:
# Correlation Matrix
corrMatrix = ratings.corr()
corrMatrix.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),1.000000,3.449847e-01,0.586968,0.159071,-2.245066e-01,0.476393,-0.077357,0.274352,0.198816,0.542326,...,0.245491,0.562614,0.039540,0.712878,-0.049175,0.044273,0.030773,-0.388883,0.831858,0.572078
10 Things I Hate About You (1999),0.344985,1.000000e+00,0.139700,0.076181,-4.382839e-17,0.735328,-0.035028,-0.360997,-0.253516,0.884932,...,0.443656,0.403512,0.661495,0.310909,0.276340,-0.171146,-0.645497,-0.396883,0.540062,0.664097
101 Dalmatians (1996),0.586968,1.396997e-01,1.000000,0.037905,2.549250e-01,0.472866,0.997176,0.403370,0.291166,0.479353,...,0.439026,-0.665020,0.279508,0.069843,-0.634335,0.176054,0.973124,0.654654,0.085210,0.487599
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.159071,7.618118e-02,0.037905,1.000000,-1.550434e-01,0.400892,-0.235294,0.087781,0.230627,0.345857,...,0.277517,0.555128,-0.845154,0.821584,0.491856,0.057215,0.331832,NaN,-0.558582,-0.306413
12 Angry Men (1957),-0.224507,-4.382839e-17,0.254925,-0.155043,1.000000e+00,NaN,-0.148547,-0.353553,0.040225,0.375154,...,0.218060,-0.193550,0.161374,0.579138,0.065653,0.336515,0.073324,-0.500000,0.512989,0.522233

In [ ]:
# Find similar movies
corrMatrix['2001: A Space Odyssey (1968)'].sort_values(ascending = False)

title
2001: A Space Odyssey (1968)              1.000000
Little Women (1994)                       0.750468
Return of the Pink Panther, The (1975)    0.739641
Doctor Zhivago (1965)                     0.720387
Shallow Grave (1994)                      0.720144
                                            ...
Ever After: A Cinderella Story (1998)    -0.778220
Matilda (1996)                           -0.794616
Pitch Perfect (2012)                     -0.795900
Under Siege 2: Dark Territory (1995)     -0.821098
Dante's Peak (1997)                      -0.881269
Name: 2001: A Space Odyssey (1968), Length: 1297, dtype: float64

In [ ]:
# Find similar movies
corrMatrix['Young Frankenstein (1974)'].sort_values(ascending = False)

title
Young Frankenstein (1974)                                  1.000000
To Wong Foo, Thanks for Everything! Julie Newmar (1995)    1.000000
Intouchables (2011)                                        0.999733
Doctor Strange (2016)                                      0.984374
The Hunger Games: Mockingjay - Part 1 (2014)               0.970725
                                                             ...
27 Dresses (2008)                                               NaN
Drop Zone (1994)                                                NaN
Mary Shelley's Frankenstein (Frankenstein) (1994)               NaN
Perks of Being a Wallflower, The (2012)                         NaN
Three Colors: White (Trzy kolory: Bialy) (1994)                 NaN
Name: Young Frankenstein (1974), Length: 1297, dtype: float64

In [ ]:
# Find similar movies
corrMatrix['13 Going on 30 (2004)'].sort_values(ascending = False)

title
¡Three Amigos! (1986)                1.0
Dead Man Walking (1995)              1.0
Sex, Lies, and Videotape (1989)      1.0
Alien: Resurrection (1997)           1.0
Awakenings (1990)                    1.0
                                    ...
Young Frankenstein (1974)            NaN
Zack and Miri Make a Porno (2008)    NaN
Zootopia (2016)                      NaN
eXistenZ (1999)                      NaN
xXx (2002)                           NaN
Name: 13 Going on 30 (2004), Length: 1297, dtype: float64

#### User-Based Collaborative Filtering

In [ ]:
# Transposing
ratings.T

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5
10 Things I Hate About You (1999),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (One Hundred and One Dalmatians) (1961),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoolander (2001),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0
Zootopia (2016),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
eXistenZ (1999),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,4.5,NaN,NaN
xXx (2002),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,2.0
¡Three Amigos! (1986),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Correlation Matrix for users
corrMatrix = ratings.T.corr()
corrMatrix.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,NaN,0.166091,0.207983,0.268749,-0.291636,-0.118773,0.469668,0.918559,-0.037987,...,0.091574,-2.071128e-16,-0.050843,-0.407556,-0.195628,0.073490,0.119810,0.241093,-0.175412,-0.056271
2,NaN,1.0,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,-0.387347,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN,0.623288
3,0.166091,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.414644,NaN,NaN,-0.842914,-0.333333,-0.395092,NaN,0.460806
4,0.207983,NaN,NaN,1.000000,-0.345099,0.175709,0.542861,0.117851,NaN,0.485794,...,-0.222113,4.256844e-01,0.052834,-0.080296,0.461163,0.131088,0.116518,-0.183175,NaN,-0.015462
5,0.268749,NaN,NaN,-0.345099,1.000000,0.043166,0.158114,0.028347,NaN,-0.777714,...,0.000000,2.160186e-01,0.214784,0.067791,-0.364156,0.252706,0.231080,-0.020546,0.384111,0.040582

In [ ]:
# Finding similar user
corrMatrix.iloc[:, 1].sort_values(ascending = False)

userId
2      1.0
341    1.0
51     1.0
93     1.0
143    1.0
      ...
602    NaN
604    NaN
605    NaN
607    NaN
609    NaN
Name: 2, Length: 610, dtype: float64

In [ ]:
# Finding similar user
corrMatrix.iloc[:, 2].sort_values(ascending = False)

userId
183    1.000000
3      1.000000
95     1.000000
91     0.977356
377    0.899229
         ...
601         NaN
602         NaN
604         NaN
605         NaN
609         NaN
Name: 3, Length: 610, dtype: float64

In [ ]:
# Finding similar user
corrMatrix.iloc[:, 3].sort_values(ascending = False)

userId
518    1.0
396    1.0
397    1.0
299    1.0
360    1.0
      ...
550    NaN
556    NaN
576    NaN
578    NaN
609    NaN
Name: 4, Length: 610, dtype: float64

In [ ]:
# Finding similar user
corrMatrix.iloc[:, 4].sort_values(ascending = False)

userId
408    1.0
73     1.0
350    1.0
341    1.0
405    1.0
      ...
582    NaN
585    NaN
591    NaN
595    NaN
598    NaN
Name: 5, Length: 610, dtype: float64

In [ ]:
# Finding similar user
corrMatrix.iloc[:, 5].sort_values(ascending = False)

userId
30     1.0
92     1.0
6      1.0
487    1.0
185    1.0
      ...
576    NaN
578    NaN
582    NaN
585    NaN
598    NaN
Name: 6, Length: 610, dtype: float64

In [ ]:
# Finding similar user
corrMatrix.iloc[:, 6].sort_values(ascending = False)

userId
188    1.0
7      1.0
545    1.0
506    1.0
295    1.0
      ...
547    NaN
550    NaN
575    NaN
576    NaN
578    NaN
Name: 7, Length: 610, dtype: float64

In [ ]:
# Finding similar user
corrMatrix.iloc[:, 7].sort_values(ascending = False)

userId
581    1.0
511    1.0
601    1.0
168    1.0
260    1.0
      ...
582    NaN
585    NaN
591    NaN
595    NaN
598    NaN
Name: 8, Length: 610, dtype: float64